<div class="image-text-button-card img-secondary-background">
    <img  src="/assets/card-icons/Semantic Eye Logo (About).svg" alt="">
    <div class="card-text-content">
            <h3>About</h3>
            <p>This page provides background on the Semantic Eye initiative and its logo &mdash; just in case you wondered why it's a hand and not an eye.</p>
            <p>Actually ... it is neither.</p>
    </div>
    <p><a href="/pages/about/index.html" class="card-button">Read More</a></p>
</div>