<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/dropdown.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <title>{{title}}</title>
    </head>
    {# {% include 'navigation.njk' %} #}
    <body>
        {% include 'header.njk' %}
        {{ content | safe }}
        {% include 'footer.njk' %}
    </body>
</html>