<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&Merriweather:ital,opsz,wght@@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <link rel="icon" type="image/x-icon" href="/assets/manicule-for-dark-background.svg">
        <title>{{title}}</title>
        <meta property="og:title" content="The Semantic Eye Framework" />
        <meta property="og:description" content="The Engineering Toolbox for effective Design, Evolution and Digitalisation of your Organisation and its Processes." />
        <meta property="og:image" content="https://www.semantic-eye.org/assets/semantic-eye-logo-open-graph.png" />
        <meta property="og:url" content="https://www.semantic-eye.org" />
        <meta property="og:type" content="website" />
    </head>
    {# {% include 'navigation.njk' %} #}
    <body>
        {% include 'header.njk' %}
        {{ content | safe }}
        {% include 'footer.njk' %}
    </body>
</html>