<footer class="footer">
    <div class="footer-left-section">
    </div>
    <div class="footer-middle-section">
        <p>All material on this website is protected by Copyright laws to The Semantic Eye.</p>
        <p>The Semantic Eye is an initiative of the Semantic Labs (www.semantic-labs.ch)</p>
    </div>
    <div class="footer-right-section">
    </div>
</footer>