<footer class="footer">
    <div class="footer-left-section">
    </div>
    <div class="footer-middle-section">
        <p>All material on this website is protected by Copyright laws, 
            <script>document.write(new Date().getFullYear())</script>, The Semantic Eye.<br>
        The Semantic Eye is an initiative by <i>Depuzzle</i> (website coming soon)</p>
    </div>
    <div class="footer-right-section">
    </div>
</footer>