<header class="header">
    <div class="header-left-section">
        <div class="navigation-menu">
            <button class="hamburger-menu" id="menuBtn">
                <img src="/assets//icons/hamburger-menu.svg" alt="Menu" id="menuIcon">
            </button>
            <nav class="dropdown-menu" id="menu">
                <a href="/index.html">Home</a>
                <a href="/pages/nutshell/index.html">Nutshell</a>
                <a href="/pages/white-paper/index.html">White Paper</a>
                <a href="/pages/presentations/index.html">Presentations</a>
                <a href="/pages/tools/index.html">Tools</a>
                <a href="/pages/references/index.html">References</a>
                <a href="/pages/about/index.html">About</a>
            </nav>
            <script type="text/javascript" src="/assets/scripts/dropdown-menu.js"></script>
        </div>
    </div>
    <div class="header-middle-section">
        <input class="search-bar" type="text" placeholder="Search (not yet active)" alt="Search field">
        <button class="search-button">
            <img class="search-icon" src="/assets/icons/search.svg" alt="Search button">
            <div class="tooltip">Search</div>
        </button>
    </div>
    <div class="header-right-section">
        <a href="/pages/about/index.html"> <img class="semantic-eye-logo" src="/assets/semantic-eye-logo-for-light-background.svg" alt="semantic eye logo"></a>
    </div>
</header>