<header class="header">
    <div class="header-left-section">
        <nav class="dropdown__header">
            <ul>
                <li class="dropdown__category">
                    <img class="hamburger-menu" src="/assets//icons/hamburger-menu.svg">
                    <ul class="dropdown__menu">
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/pages/nutshell/index.html">Nutshell</a></li>
                        <li><a href="/pages/white-paper/index.html">White Paper</a></li>
                        <li><a href="/pages/references/index.html">References</a></li>
                        <li><a href="/pages/about/index.html">About</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-middle-section">
        <input class="search-bar" type="text" placeholder="Search (inactive)">
        <button class="search-button">
            <img class="search-icon" src="/assets/icons/search.svg">
            <div class="tooltip">Search</div>
        </button>
    </div>
    <div class="header-right-section">
        <a href="/pages/about/index.html"> <img class="semantic-eye-logo" src="/assets/semantic-eye-logo-for-light-background.svg" alt="semantic eye logo"></a>
    </div>
</header>