<header class="header">
    <div class="left-section">
        <img class="hamburger-menu" src="/icons/hamburger-menu.svg">
    </div>
    <div class="middle-section">
        <input class="search-bar" type="text" placeholder="Search (inactive)">
        <button class="search-button">
            <img class="search-icon" src="/icons/search.svg">
            <div class="tooltip">Search</div>
        </button>
    </div>
    <div class="right-section">
        <img class="semantic-eye-logo" src="/assets/semantic-eye-logo.svg" alt="semantic eye logo">
    </div>
</header>