.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 30px;
    height: 30px;
    display: block;
  }
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  left: 12px;
  background: var(--clr-dark-lighter);
  border-width: 1px;
  border-color: var(--clr-light);
  border-bottom-style: solid;
  display: none; /* hide */

  a {
    display: block;
    padding: 12px 12px;
    color: var(--clr-light);
    text-decoration: none;
  }
  a:hover {
    color: var(--clr-accent);
    font-weight: bold;
  }
}

.dropdown-menu.show {
  display: block; /* show */
}