.footer {
  margin-top: 24px;
  margin-left: -24px;
  margin-right: -24px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: var(--clr-light);
  color: var(--clr-secondary);
  border-color: var(--clr-secondary);
  border-width: 1px;
  border-top-style: solid;
}

.footer-left-section {
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.footer-middle-section {
  flex: 1;
  margin-left: 36px;
  margin-right: 36px;
  max-width: 1000px;
  /* display: flex; */
  align-items: center;
  text-align: center;
}

.footer-right-section {
  max-width: 180px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}