body {
  /* This style below will be inherited */
  font-family: Roboto, Arial;
  font-weight: lighter;
  color: #E0E0E0;
  margin: 0;
  padding-top: 96px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: #14082D;
  /* background-color: rgb(248, 248, 248); */
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  max-width: 600px;
}