:root {
  --clr-light: #F0F0F0;
  --clr-dark: #130023;
  --clr-primary: var(--clr-light);
  --clr-secondary: #A1A1A1;
  --clr-accent: #A23200;
  --clr-contrast: var(--clr-dark);
}

body {
  font-family: Roboto, Arial;
  font-weight: lighter;
  color: var(--clr-light);
  margin: 0;
  padding-top: 96px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--clr-dark);
}

p,
ul,
li {
  margin: 0;
  margin-block-start: 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

em {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-weight: normal;
  font-style: normal;
}

.air {
  margin-top: 0.8rem;
}

.standout {
  color: var(--clr-accent);
  font-weight: normal;
}

.horizontal-line-top {
  padding-top:72px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--clr-secondary);
}

img {
  display: block;
  max-width: 100%;
}


a:link {
  color: var(--clr-accent);
  text-decoration: none;
}

a:visited {
  color: var(--clr-secondary);
}

/* Facilitate responsive pages: */
.wrapper {
  max-width: 1000px;
  margin-inline: auto;
}