.semantic-eye-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4em;

  padding-bottom: 36px;
}

.title-img {
  min-width: 200px;
  width: 60%;
  max-width: 600px;
  align-self: center;

}

.subtitle,
.take-away {
  font-size: 1.2rem;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  text-align: center;
  align-self: center;
  padding: 10px;
}

.take-away {
  margin-top: 24px;

 overflow: hidden;
}

h1,
h2,
h3 {
  color: var(--clr-accent);
}

h1,
h2 {
  text-align: center;
  margin-top: 4rem;

}

.chapter-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 2rem;

  text-align: center;
  font-weight: normal;
  /* color: var(--clr-secondary); */

  img {
    height: 1.5rem;
  }
}

.graphic-full-width {
  min-width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-inline: auto;

  p {
    margin-top: 0.6rem;
    text-align: center;
  }
}

.with-graphic-sidebar {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.graphic-in-sidebar {
  min-width: 200px;
  max-width: 520px;
  margin-inline: auto;

  p {
    margin-top: 0.6rem;
    text-align: center;
  }
}

@media (min-width: 760px) {
  .with-graphic-sidebar {
    gap: 20px;
    grid-template-columns: 490px 1fr;
  }

  h2 {
    text-align: left;
  }
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid red;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}