/* ---- Home page ---- */

.semantic-eye-title {
  padding-bottom: 3rem;

  display: grid;
  justify-items: center;
  row-gap: 2em;
}

.title-img {
  width: 100%;
  min-width: 200px;
  max-width: 500px;

}

/* Emphasis and spacing */


.maniculed-hint {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;

  text-align: center;
  font-weight: normal;
  /* color: var(--clr-secondary); */

  img {
    height: 1.5rem;
  }
}

.subtitle,
.take-away {
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-self: center;
  font-weight: normal;
  text-align: center;
}

.subtitle {
  color: var(--clr-primary);
  background-color: var(--clr-dark-lighter);
}

.take-away {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
}

.standout {
  color: var(--clr-accent);
  font-weight: bold;
}

.footnote {
  font-family: serif;
  font-weight: ligher;
  font-size: 1.1rem;
  line-height: 1.4rem;
  text-align: start;
  scroll-margin-top: calc(100vh - 70px);
}

.footnotes {
  position: relative;
  padding: 0.3rem 0;
  margin: 1.0rem 0;
}


.footnotes::before {  /* pseudo element */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 1px;
  background-color: var(--clr-secondary);
}

.air {
  margin-top: 0.8rem;
}

/* ---- Main flow and layout ---- */

.first-chapter, .chapter {
  padding-top:0;
  padding-bottom: 2rem;
  
  display: grid;
  justify-items: center;
}

.chapter {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--clr-secondary);
}

/* Responsive Design */

  /* Narrower lines = Better readability: */
  .single-column-text {
    max-width: 800px;
    margin-inline: auto;
  }

.two-column-text, .multi-column-text {
  display: grid;
  grid-template-columns: minmax(300px, 700px);
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  div > p:not(.subtitle, .take-away) {
    text-align: justify;
  }
}

.multi-column-text > div > p:not(.subtitle, .take-away, .footnote),
.multi-column-text > div > ul > li,
.multi-column-text a {
  font-family: serif;
  font-weight: ligher;
  font-size: 1.3rem;
}

@media (min-width: 1088px) {
  
  .two-column-text {
	  gap: 24px;
	  grid-template-columns:
		500px 500px;
    margin-inline: auto;
  }

  .multi-column-text {
	  gap: 24px;
	  grid-template-columns:
		repeat(auto-fit, minmax(500px, 1fr));
  }
}

.add-img-background {
  img {
    background-color: var(--clr-light);
    padding: 5px;
  }
}

.image-full-width {
  min-width: 250px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-inline: auto;

  p {
    margin-top: 0.6rem;
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
  }
}

/* Collapsible content */
.collapsible-container {
  display: grid;
  justify-items: center;
}

.collapsible-button {
  margin-top: 1rem;
  padding: 18px;
  width: 300px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
  color:var(--clr-light);
  background-color:var(--clr-accent-darker);
}

.collapsible-content {
  display: grid;
  justify-items: center;
  margin-inline: auto;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible-button-active, .collapsible-button:hover {
  background-color: var(--clr-accent);
}

.collapsible-button:after {
  float: right;
  content: '\002B';
  margin-left: 5px;
  font-weight: bold;
  color: var(--clr-light);
}

.collapsible-button-active:after {
  content: "\2212";
}