.semantic-eye-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4em;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A1A1A1;

  padding-bottom: 24px;
}

.title-img {
  min-width: 200px;
  width: 60%;
  max-width: 600px;
  align-self: center;

}

.subtitle {
  font-size: 1.2rem;
  background-color: #A1A1A1;
  color: white;
  max-width: 600px;
  text-align: center;
  align-self: center;
  padding: 10px;
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid red;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}