---
title: About the Semantic Eye
layout: 'base.njk'
---

<main>
   <!------------------->
   <section class="first-chapter wrapper">
      <h1>{{title}}</h1>
      <p>The Semantic Eye Framework is an initiative of the Semantic Labs <a href="https://www.semantic-labs.ch">www.semantic-labs.ch</a>.<br><br></p>

      <img src="/assets/semantic-eye-logo-for-dark-background.svg" alt="semantic eye logo" width="378">

      <p class="subtitle">Get their professional guidance and support for your project.</p>
   
      <h2>About the Logo</h2>
      <p>In case you're wondering why the logo of the Semantic Eye is <em>not an eye</em>, then be warned that <em>it is not a hand either</em>.<br><br>
         The pun harkens back to the famous 1929 painting by René Magritte called<br>
         «La trahison des images» (The treachery of images)<br>
         showing a realistically-painted smoking pipe and the words «This is not a pipe»:</p>

      <div class="image-with-caption">
         <img src="/assets/Magritte - La trahison des images.jpg" alt="La trahison des images" width="378">
         <p>La trahison des images (Source:
                <a href="/pages/references/index.html#4">[4]</a>)</p>
      </div>

      <p class="take-away">Too true: it is only the picture of a pipe. This is what semantics are about and why they merit more attention. Aligned semantics make the difference.</p>

   </section>

</main>