---
title: About the Semantic Eye
layout: 'base.njk'
---

<main>
   <!------------------->
   <section class="chapter single-column-text">
      <h1>{{title}}</h1>
        {%- renderFile 'src/content/about/about.md' -%}
   </section>

</main>