---
title: The Semantic Eye Framework in a Nutshell
layout: 'base.njk'
---

<main>
   <section class="first-chapter wrapper">
    <h1>{{title}}</h1>
    <p class="subtitle">The Semantic Eye focuses on processes of organisations where humans, machines and software collaborate<br>
    to achieve goals and create value in a controlled and repeatable fashion.</p>

    <p>Digital transformation (short: <em>digitalisation</em>) is the support or the partial or full automation of manual activities and
    processes with software. All organisations struggle with their digitalisation, sometimes to the point where it threatens their existence.</p>
   </section>
   
   {%- include 'src/content/nutshell/download-nutshell.njk' -%}

   <section class="chapter">
        {%- renderFile 'src/content/nutshell/framework.md' -%}
   </section>

   <section class="chapter">
        {%- renderFile 'src/content/nutshell/malaise.md' -%}
   </section>

   {%- include 'src/content/nutshell/download-nutshell.njk' -%}
</main>