---
title: The Semantic Eye Framework in a Nutshell
layout: 'base.njk'
---

<main>
     <section class="chapter">
          <h1>{{title}}</h1>

          <div class="card-container">
               <div class="image-text-card">
                    <img  src="/assets/card-icons/transformation.svg" alt="" width="325">
                    <div class="card-text-content">
                         <h3>Digital Transformation</h3>
                         <p>Digital transformation is the <em>support or partial or full automation</em> of manual activities and processes <em>with software</em>.</p>
                         <p><em>></em> We use <em>digitalisation</em> as a synonym.</p>
                    </div>
               </div>

               <div class="image-text-card">
                    <img  src="/assets/card-icons/scope.svg" alt="" width="325">
                    <div class="card-text-content">
                         <h3>Scope</h3>
                         <p>The Semantic Eye focuses on <em>processes of organisations where humans, machines and software collaborate</em> to achieve goals and create value in a controlled and repeatable fashion.</p>
                    </div>
               </div>
               <div class="image-text-button-card ">
                    <img  src="/assets/card-icons/Semantic Eye Logo (Nutshell).svg" alt="">
                    <div class="card-text-content">
                              <h3>Framework in a Nutshell</h3>
                              <p>The content on this page is also available as a PDF.</p>
                              <p><em>></em> Opens in a new browser tab.</p>
                    </div>
                    <p><a target="_blank" rel="noopener noreferrer" href="/assets/downloads/Semantic Eye in a Nutshell v0.9.pdf" class="card-button">Read or download as PDF</a></p>
               </div>
          </div>
     </section>

     <section class="chapter">
          {%- renderFile 'src/content/nutshell/malaise.md' -%}
     </section>

     <section class="chapter">
          {%- renderFile 'src/content/nutshell/framework.md' -%}
     </section>

     <section class="chapter">
          <div class="single-column-text top-separator">
               <h1>Eager to Know More?</h1>
               <p>Do you like what you just read? — Then turn to the white paper to get complimentary concepts, background and detail!</p>
          </div>

          <div class="card-container">
          {%- renderFile 'src/content/white-paper/white-paper-card.njk' -%}
          {%- renderFile 'src/content/about/about-card.njk' -%}
          </div>
     </section>
</main>