---
title: The Semantic Eye Framework in a Nutshell
layout: 'base.njk'
---

<main>
   <section class="first-chapter wrapper">
    <h1>{{title}}</h1>
    <p class="subtitle">The Semantic Eye focuses on processes of organisations where humans, machines and software collaborate<br>
    to achieve goals and create value in a controlled and repeatable fashion.</p>

    <p>Digital transformation (short: _digitalisation_) is the support or the partial or full automation of manual activities and<br>
    processes with software. Many organisations struggle with their digitalisation to the point where their existence is threatened.</p>
   </section>

    <div class="chapter">
        <h2>Page available as PDF</h2>
        <div class="chapter-intro">
            <img src="/assets/manicule-for-dark-background.svg" alt="pointing manicule" height="18px">
            <a target="_blank" rel="noopener noreferrer" href="/assets/downloads/Semantic Eye in a Nutshell v0.8.2.pdf"">Read or Download as PDF (in separate Tab)</a>
        </div>
    </div>

   <section class="chapter">
        {%- renderFile 'src/content/nutshell/framework.md' -%}
   </section>

   <section class="chapter">
        {%- renderFile 'src/content/nutshell/malaise.md' -%}
   </section>
</main>