---
title: Presentations of the Semantic Eye
layout: 'base.njk'
---

<main>
    <h1>{{title}}</h1>
    <section>
        {%- renderFile 'src/content/presentations/ocx-2026.md' -%}
    </section>

</main>