---
title: References
layout: 'base.njk'
---

<main>
    <h1>{{ title }}</h1>
    <p id="1">[1] Chris Riddell & Louise Howard, «Buddism for Sheep», Ebury Press, 1996</p>
    <p id="2">[2] Hofer, S. & Schwentner, H. 2021 «Domain Storytelling», Addison-Wesley Professional, 2021,
        <a href="https://domainstorytelling.org">domainstorytelling.org</a>
    </p>
    <p id="3">[3] VDC Netzwerk FHNW 2024, «Von der Bauhütte zu BIM: Was das Mittelalter mit digitalem Bauen zu tun hat (Internet Resource)»,	Fachhochschule Nordwestschweiz, <a href="https://vdc-netzwerk.ch/von-der-bauhuette-zu-bim">vdc-netzwerk.ch/von-der-bauhuette-zu-bim</a></p>
</main>