---
title: References
layout: 'base.njk'
---
<p id="1">[1] Chris Riddell & Louise Howard, «Buddism for Sheep», Ebury Press, 1996</p>
<p> id="2">[2] Hofer, S. & Schwentner, H. 2021 «Domain Storytelling», Addison-Wesley Professional, 2021, <a href="https://domainstorytelling.org">domainstorytelling.org</a></p>