---
title: The Semantic Eye White Paper
layout: 'base.njk'
---

<main>
   <!------------------->
   <section class="chapter single-column-text">
      <h1>{{title}}</h1>
      <p>This white paper first highlights typical digitalisation blunders; then reveals predominant causes for the current digitalisation malaise; and finally presents a practical solution: the Semantic Eye Framework. Which, apart from pragmatic concepts and procedures, introduces powerful digital software tools and unlocks effective use of AI.</p>

         <div class="card-container">
            <div class="image-text-button-card ">
                  <img  src="/assets/card-icons/Semantic Eye Logo (White Paper).svg" alt="">
                  <div class="card-text-content">
                           <h3>Framework White Paper</h3>
                           <p><em>></em> Opens in a new browser tab.</p>
                  </div>
                  <p><a target="_blank" rel="noopener noreferrer" href="/assets/downloads/Semantic Eye White Paper v0.8.pdf" class="card-button">Read or download as PDF</a></p>
            </div>
      </div>
   </section>
</main>