---
title: The Semantic Eye White Paper
layout: 'base.njk'
---

<main>
   <!------------------->
   <section class="first-chapter single-column-text">
      <h1>{{title}}</h1>
      <p>This white paper first highlights typical digitalisation blunders; then reveals predominant causes for the current digitalisation malaise; and finally presents a practical solution: the Semantic Eye Framework. Which, apart from pragmatic concepts and procedures, introduces powerful digital software tools and unlocks effective use of AI.</p>
      <p></p>
      <p></p>
      <div class="maniculed-hint">
      <img src="/assets/manicule-for-dark-background.svg" alt="pointing manicule" height="18px">
      <a target="_blank" rel="noopener noreferrer" href="/assets/downloads/Semantic Eye White Paper v0.7.6.pdf">Open PDF in separate Tab</a>
      </div>
   </section>
</main>