{# <div class="image-text-button-card img-secondary-background"> #}
<a href="/pages/presentations/index.html#ocx-2026" class="image-text-button-card img-secondary-background">
    <img  src="/assets/card-icons/ocx-2026.jpg" alt="">
    <div class="card-text-content">
            <h3>Transforming Digital Transformations with Eclipse Theia and the Semantic Eye Framework</h3>
            <p>A presentation about the problems of digital transformations and a state-of-the-art, open-source tooling solution.</p>
            <p>Duration: 45 min.</p>
    </div>
    {# <p><a href="/pages/presentations/index.html#ocx-2026" class="card-button">Watch on YouTube</a></p> #}
    <p class="card-button">Watch on YouTube</p>
</a>
{# </div> #}