<div class="image-text-button-card img-secondary-background">
    <img  src="/assets/card-icons/ocx-2026.jpg" alt="">
    <div class="card-text-content">
            <h3>Transforming digital transformations with Eclipse Theia and the Semantic Eye Framework</h3>
            <p>A presentation about the problems of digital transformations and Theia as a technical framework.</p>
            <p>Target audience: Eclipse-framework developers.</p>
            <p>Duration: 45 min.</p>
    </div>
    <p><a href="/pages/presentations/index.html#ocx-2026" class="card-button">Watch on YouTube</a></p>
</div>