---
title: The Semantic Eye
layout: 'base.njk'
---

<main>
   <section class="semantic-eye-title">
      <h1>Introducing …</h1>
      <div class="title-img">
         <img src="assets/semantic-eye-title.svg" alt="semantic eye title">
      </div>
      <div class="subtitle">
         <p>The Engineering Toolbox for effective Analysis, Design, Evolution and<br>Digitalisation of your Organisation and its Processes.</p>
      </div>
   </section>
   
   <!------------------->
   <section class="chapter">      
      {%- renderFile 'src/content/main-page/at-a-glance.md' -%}
   </section>
   
   <!------------------->
   <section class="chapter">
      <div class="single-column-text top-separator">
         <h1>Learn More about the Semantic Eye</h1>
         <p>Find out how the Semantic Eye Framewok saves the digital transformation of your organisation.</p>
      </div>

      <div class="card-container">

         {%- renderFile 'src/content/nutshell/nutshell-card.njk' -%}
         {%- renderFile 'src/content/white-paper/white-paper-card.njk' -%}
         {%- renderFile 'src/content/about/about-card.njk' -%}
         
      </div>
      <div class="take-away">
         <p>The Semantic Eye Framework digitalises the digital transformation of organisations 😉</p>
      </div>
   </section>
</main>