<section class="chapter">
    <h2>Page available as PDF</h2>
    <div class="maniculed-hint">
        <img src="/assets/manicule-for-dark-background.svg" alt="pointing manicule" height="18px">
        <a target="_blank" rel="noopener noreferrer" href="/assets/downloads/Semantic Eye in a Nutshell v0.8.2.pdf"">Read or Download as PDF (in separate Tab)</a>
    </div>
</section>
