<div class="image-text-button-card img-secondary-background">
    <img  src="/assets/card-icons/Semantic Eye Logo (Nutshell).svg" alt="">
    <div class="card-text-content">
            <h3>Framework in a Nutshell</h3>
            <p>A nutshell is a very small place.</p>
            <p>4-pages-of-PDF-small, to be exact.</p>
            <p>This compact introduction first summarises typical transformation problems, then reveals the framework and the benefits of using it.</p>
    </div>
    <p><a href="/pages/nutshell/index.html" class="card-button">Read online or as PDF</a></p>
</div>