<div class="image-text-button-card img-secondary-background">
    <img  src="/assets/card-icons/Semantic Eye Logo (White Paper).svg" alt="">
    <div class="card-text-content">
            <h3>White Paper</h3>
            <p>This overview document offers a «tour d'horizon» of the framework. It explains where current digital-transformation methodology is  flawed, and how organisations can abate the resulting risks by applying the framework.</p>
            <p>20 pages of PDF.</p>
    </div>
    <p><a href="/pages/white-paper/index.html" class="card-button">Read or download as PDF</a></p>
</div>